# 주차수요 예측
https://dacon.io/competitions/official/235745/overview/description

```
train.csv - 학습용 데이터

단지코드
총세대수
임대건물구분
지역
공급유형
전용면적
전용면적별세대수
공가수
신분
임대료보증금
임대료
도보 10분거리 내 지하철역 수(환승노선 수 반영)
도보 10분거리 내 버스정류장 수
단지내주차면수
등록차량수
```

# dataset 확인

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
train = pd.read_csv('data/parking/train.csv')
test = pd.read_csv('data/parking/test.csv')

In [3]:
print(train.shape)
train.head()

(2952, 15)

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
3,C2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
4,C2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0

In [4]:
print(test.shape)
test.head()

(1022, 14)

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
0,C1072,754,아파트,경기도,국민임대,39.79,116,14.0,H,22830000,189840,0.0,2.0,683.0
1,C1072,754,아파트,경기도,국민임대,46.81,30,14.0,A,36048000,249930,0.0,2.0,683.0
2,C1072,754,아파트,경기도,국민임대,46.90,112,14.0,H,36048000,249930,0.0,2.0,683.0
3,C1072,754,아파트,경기도,국민임대,46.90,120,14.0,H,36048000,249930,0.0,2.0,683.0
4,C1072,754,아파트,경기도,국민임대,51.46,60,14.0,H,43497000,296780,0.0,2.0,683.0

In [5]:
set(train.columns) - set(test.columns)

{'등록차량수'}

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2952 entries, 0 to 2951
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2952 non-null   object
 1   총세대수                          2952 non-null   int64
 2   임대건물구분                        2952 non-null   object
 3   지역                            2952 non-null   object
 4   공급유형                          2952 non-null   object
 5   전용면적                          2952 non-null   float64
 6   전용면적별세대수                      2952 non-null   int64
 7   공가수                           2952 non-null   float64
 8   자격유형                          2952 non-null   object
 9   임대보증금                         2383 non-null   object
 10  임대료                           2383 non-null   object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2741 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2948 non-null   float64
 13  단지내주차면수                       2952 non-null   float64
 14  등록차량수                         2952 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 346.1+ KB

In [7]:
train.describe(include='O')

         단지코드 임대건물구분    지역  공급유형  자격유형     임대보증금   임대료
count    2952   2952  2952  2952  2952      2383  2383
unique    423      2    16    10    15       957   995
top     C1439    아파트   경기도  국민임대     A  24775000     -
freq       48   2390   621  1758  1801        22    21

In [8]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1022 entries, 0 to 1021
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          1022 non-null   object
 1   총세대수                          1022 non-null   int64
 2   임대건물구분                        1022 non-null   object
 3   지역                            1022 non-null   object
 4   공급유형                          1022 non-null   object
 5   전용면적                          1022 non-null   float64
 6   전용면적별세대수                      1022 non-null   int64
 7   공가수                           1022 non-null   float64
 8   자격유형                          1020 non-null   object
 9   임대보증금                         842 non-null    object
 10  임대료                           842 non-null    object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  980 non-null    float64
 12  도보 10분거리 내 버스정류장 수            1022 non-null   float64
 13  단지내주차면수                       1022 non-null   float64
dtypes: float64(5), int64(2), object(7)
memory usage: 111.9+ KB

# 전처리

## 결측치

In [9]:
train.isnull().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              0
임대보증금                           569
임대료                             569
도보 10분거리 내 지하철역 수(환승노선 수 반영)    211
도보 10분거리 내 버스정류장 수                4
단지내주차면수                           0
등록차량수                             0
dtype: int64

In [10]:
test.isnull().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              2
임대보증금                           180
임대료                             180
도보 10분거리 내 지하철역 수(환승노선 수 반영)     42
도보 10분거리 내 버스정류장 수                0
단지내주차면수                           0
dtype: int64

### 임대보증금 & 임대료

In [11]:
train.loc[train.임대보증금=='-', '임대보증금'] = np.nan
test.loc[test.임대보증금=='-', '임대보증금'] = np.nan
train['임대보증금'] = train['임대보증금'].astype(float)
test['임대보증금'] = test['임대보증금'].astype(float)

In [12]:
train.loc[train.임대료=='-', '임대료'] = np.nan
test.loc[test.임대료=='-', '임대료'] = np.nan
train['임대료'] = train['임대료'].astype(float)
test['임대료'] = test['임대료'].astype(float)

In [13]:
train[train.임대보증금.isnull()].공급유형.value_counts()

임대상가    562
국민임대      8
공공분양      7
행복주택      4
Name: 공급유형, dtype: int64

In [14]:
test[test.임대보증금.isnull()].공급유형.value_counts()

임대상가    177
영구임대      5
행복주택      4
Name: 공급유형, dtype: int64

In [15]:
train[train.임대보증금.isnull()].자격유형.value_counts()

D    569
H      8
K      4
Name: 자격유형, dtype: int64

In [16]:
test[test.임대보증금.isnull()].자격유형.value_counts()

D    180
L      4
C      2
Name: 자격유형, dtype: int64

In [17]:
# 임대보증금과 임대료가 NULL인 경우는 0으로 대체하는 것이 좋아보임
train[['임대보증금', '임대료']] = train[['임대보증금', '임대료']].fillna(0)
test[['임대보증금', '임대료']] = test[['임대보증금', '임대료']].fillna(0)

### 도보 10분거리 내 지하철역 수 & 버스정류장 수

In [18]:
subway_null_codes = train[train['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].isnull()].단지코드.unique()
train.loc[train.단지코드.isin(subway_null_codes), '도보 10분거리 내 지하철역 수(환승노선 수 반영)'].value_counts(dropna=False)

NaN    211
Name: 도보 10분거리 내 지하철역 수(환승노선 수 반영), dtype: int64

In [19]:
bus_null_codes = train[train['도보 10분거리 내 버스정류장 수'].isnull()].단지코드.unique()
train.loc[train.단지코드.isin(bus_null_codes), '도보 10분거리 내 버스정류장 수'].value_counts(dropna=False)

NaN    4
Name: 도보 10분거리 내 버스정류장 수, dtype: int64

In [20]:
cols = ['도보 10분거리 내 지하철역 수(환승노선 수 반영)', '도보 10분거리 내 버스정류장 수']
train[cols] = train[cols].fillna(0)
test[cols] = test[cols].fillna(0)

### 자격유형

In [21]:
test[test.단지코드=='C2411']

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
193,C2411,962,아파트,경상남도,국민임대,39.43,56,25.0,A,11992000.0,100720.0,0.0,2.0,840.0
194,C2411,962,아파트,경상남도,국민임대,39.72,336,25.0,A,11992000.0,100720.0,0.0,2.0,840.0
195,C2411,962,아파트,경상남도,국민임대,39.82,179,25.0,A,11992000.0,100720.0,0.0,2.0,840.0
196,C2411,962,아파트,경상남도,국민임대,46.90,240,25.0,NaN,71950000.0,37470.0,0.0,2.0,840.0
197,C2411,962,아파트,경상남도,국민임대,51.93,150,25.0,A,21586000.0,171480.0,0.0,2.0,840.0

In [22]:
test.loc[test.단지코드.isin(['C2411']) & test.자격유형.isnull(), '자격유형'] = 'A'

In [23]:
test[test.단지코드=='C2253'].head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
258,C2253,1161,아파트,강원도,영구임대,26.37,745,0.0,NaN,2249000.0,44770.0,0.0,2.0,173.0
259,C2253,1161,아파트,강원도,영구임대,31.32,239,0.0,C,3731000.0,83020.0,0.0,2.0,173.0
260,C2253,1161,아파트,강원도,영구임대,31.32,149,0.0,C,3731000.0,83020.0,0.0,2.0,173.0
261,C2253,1161,상가,강원도,임대상가,13.77,1,0.0,D,0.0,0.0,0.0,2.0,173.0
262,C2253,1161,상가,강원도,임대상가,22.89,1,0.0,D,0.0,0.0,0.0,2.0,173.0

In [24]:
# 임대보증금과 임대료가 존재하는 경우 자격유형 C로 채우기
test.loc[test.단지코드.isin(['C2253']) & test.자격유형.isnull(), '자격유형'] = 'C'

## 중복 확인

In [25]:
train.shape, train.drop_duplicates().shape

((2952, 15), (2632, 15))

In [26]:
test.shape, test.drop_duplicates().shape

((1022, 14), (949, 14))

In [27]:
train = train.drop_duplicates()
test = test.drop_duplicates()

In [28]:
train[train.단지코드=='C2483']

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000.0,103680.0,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000.0,103680.0,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
3,C2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
4,C2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
5,C2483,900,아파트,경상북도,국민임대,51.95,89,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
6,C2483,900,아파트,경상북도,국민임대,51.95,135,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
7,C2483,900,아파트,경상북도,국민임대,59.88,86,38.0,A,30357000.0,214270.0,0.0,3.0,1425.0,1015.0

In [29]:
train.groupby(['단지코드']).nunique(dropna=False).sum(axis=0)

총세대수                             423
임대건물구분                           456
지역                               423
공급유형                             488
전용면적                            1898
전용면적별세대수                        2230
공가수                              423
자격유형                             510
임대보증금                           1277
임대료                             1289
도보 10분거리 내 지하철역 수(환승노선 수 반영)     423
도보 10분거리 내 버스정류장 수               423
단지내주차면수                          423
등록차량수                            423
dtype: int64

* 임대건물구분, 공급유형, 전용면적, 전용면적별세대수, 자격유형, 임대보증금, 임대료는 하나의 단지코드에 대해 둘 이상의 항목 존재
    -> 각 항목들을 변수로 만들어 사용

## 단지코드 별 집계
### 하나의 단지코드에 하나의 값만 존재하는 변수

In [30]:
train.columns

Index(['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '도보 10분거리 내 지하철역 수(환승노선 수 반영)',
       '도보 10분거리 내 버스정류장 수', '단지내주차면수', '등록차량수'],
      dtype='object')

In [31]:
# 총세대수, 지역, 공가수, 도보 10분거리 내 지하철역 수, 도보 10분거리 내 버스정류장 수, 단지내주차면수, 등록차량수

unique_cols = ['총세대수', '지역', '공가수', 
               '도보 10분거리 내 지하철역 수(환승노선 수 반영)',
               '도보 10분거리 내 버스정류장 수',
               '단지내주차면수', '등록차량수']
train_agg = train.set_index('단지코드')[unique_cols].drop_duplicates()
test_agg = test.set_index('단지코드')[[col for col in unique_cols if col!='등록차량수']].drop_duplicates()

In [32]:
train_agg

,총세대수,지역,공가수,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
단지코드,,,,,,,
C2483,900,경상북도,38.0,0.0,3.0,1425.0,1015.0
C2515,545,경상남도,17.0,0.0,3.0,624.0,205.0
C1407,1216,대전광역시,13.0,1.0,1.0,1285.0,1064.0
C1945,755,경기도,6.0,1.0,3.0,734.0,730.0
C1470,696,전라북도,14.0,0.0,2.0,645.0,553.0
...,...,...,...,...,...,...,...
C2586,90,제주특별자치도,7.0,0.0,3.0,66.0,57.0
C2035,492,강원도,24.0,0.0,1.0,521.0,246.0
C2020,40,부산광역시,7.0,1.0,2.0,25.0,19.0
C2437,90,충청북도,12.0,0.0,1.0,30.0,16.0
C2532,239,강원도,7.0,0.0,1.0,166.0,146.0

In [33]:
test_agg

,총세대수,지역,공가수,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
단지코드,,,,,,
C1072,754,경기도,14.0,0.0,2.0,683.0
C1128,1354,경기도,9.0,0.0,3.0,1216.0
C1456,619,부산광역시,18.0,0.0,16.0,547.0
C1840,593,전라북도,7.0,0.0,3.0,543.0
C1332,1297,경기도,11.0,0.0,2.0,1112.0
...,...,...,...,...,...,...
C2456,349,제주특별자치도,17.0,0.0,4.0,270.0
C1266,596,충청북도,35.0,0.0,1.0,593.0
C2152,120,강원도,9.0,0.0,1.0,40.0
C1267,675,경상남도,38.0,0.0,1.0,467.0
C2189,382,전라북도,45.0,0.0,2.0,300.0

### 두개의 단지코드에 둘 이상의 값이 존재하는

In [34]:
# 임대건물구분, 공급유형, 전용면적, 전용면적별세대수, 자격유형, 임대보증금, 임대료
def reshape_cat_features(data, cast_col, value_col):
    res = data.drop_duplicates(['단지코드', cast_col]).assign(counter=1).pivot(index='단지코드', columns=cast_col, values=value_col).fillna(0)
    res.columns.name = None
    res = res.rename(columns={col:cast_col+'_'+col for col in res.columns})
    return res

In [35]:
reshape_cat_features(data=train, cast_col='임대건물구분', value_col='counter')

       임대건물구분_상가  임대건물구분_아파트
단지코드
C1000        0.0         1.0
C1004        1.0         1.0
C1005        0.0         1.0
C1013        0.0         1.0
C1014        0.0         1.0
...          ...         ...
C2663        0.0         1.0
C2666        0.0         1.0
C2670        0.0         1.0
C2680        0.0         1.0
C2692        0.0         1.0

[423 rows x 2 columns]

In [36]:
reshape_cat_features(data=test, cast_col='임대건물구분', value_col='counter')

       임대건물구분_상가  임대건물구분_아파트
단지코드
C1003        0.0         1.0
C1006        1.0         1.0
C1016        0.0         1.0
C1019        0.0         1.0
C1030        0.0         1.0
...          ...         ...
C2653        0.0         1.0
C2675        0.0         1.0
C2676        1.0         1.0
C2688        0.0         1.0
C2691        0.0         1.0

[150 rows x 2 columns]

## 공급유형

In [37]:
pd.concat([train.공급유형.value_counts(), test.공급유형.value_counts()], axis=1)

           공급유형   공급유형
국민임대       1730  619.0
임대상가        285  112.0
공공임대(10년)   203   34.0
행복주택        203  121.0
영구임대        149   44.0
공공임대(50년)    31   13.0
공공임대(분납)     12    6.0
장기전세          9    NaN
공공분양          7    NaN
공공임대(5년)      3    NaN

In [38]:
train.loc[train.공급유형.isin(['공공임대(5년)', '공공분양', '공공임대(10년)', '공공임대(분납)']), '공급유형'] = '공공임대(5년/10년/분납/분양)'
test.loc[test.공급유형.isin(['공공임대(5년)', '공공분양', '공공임대(10년)', '공공임대(분납)']), '공급유형'] = '공공임대(5년/10년/분납/분양)'

In [39]:
train.loc[train.공급유형.isin(['장기전세', '국민임대']), '공급유형'] = '국민임대/장기전세'
test.loc[test.공급유형.isin(['장기전세', '국민임대']), '공급유형'] = '국민임대/장기전세'

In [40]:
set(train.공급유형)

{'공공임대(50년)', '공공임대(5년/10년/분납/분양)', '국민임대/장기전세', '영구임대', '임대상가', '행복주택'}

In [41]:
set(test.공급유형)

{'공공임대(50년)', '공공임대(5년/10년/분납/분양)', '국민임대/장기전세', '영구임대', '임대상가', '행복주택'}

In [42]:
reshape_cat_features(data=train, cast_col='공급유형', value_col='counter')

,공급유형_공공임대(50년),공급유형_공공임대(5년/10년/분납/분양),공급유형_국민임대/장기전세,공급유형_영구임대,공급유형_임대상가,공급유형_행복주택
단지코드,,,,,,
C1000,0.0,0.0,1.0,0.0,0.0,0.0
C1004,0.0,0.0,0.0,1.0,1.0,0.0
C1005,0.0,0.0,1.0,0.0,0.0,0.0
C1013,0.0,0.0,1.0,0.0,0.0,0.0
C1014,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...
C2663,0.0,0.0,1.0,0.0,0.0,0.0
C2666,0.0,0.0,1.0,0.0,0.0,0.0
C2670,0.0,0.0,1.0,0.0,0.0,0.0
C2680,0.0,0.0,1.0,0.0,0.0,0.0
C2692,0.0,0.0,1.0,0.0,0.0,0.0

In [43]:
reshape_cat_features(data=test, cast_col='공급유형', value_col='counter')

,공급유형_공공임대(50년),공급유형_공공임대(5년/10년/분납/분양),공급유형_국민임대/장기전세,공급유형_영구임대,공급유형_임대상가,공급유형_행복주택
단지코드,,,,,,
C1003,0.0,0.0,0.0,0.0,0.0,1.0
C1006,0.0,0.0,0.0,1.0,1.0,0.0
C1016,0.0,0.0,1.0,0.0,0.0,0.0
C1019,0.0,0.0,1.0,0.0,0.0,0.0
C1030,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...
C2653,0.0,0.0,1.0,0.0,0.0,0.0
C2675,0.0,0.0,1.0,0.0,0.0,0.0
C2676,0.0,0.0,0.0,1.0,1.0,0.0
C2688,0.0,0.0,1.0,1.0,0.0,0.0
C2691,0.0,1.0,0.0,0.0,0.0,0.0

## 자격유형

In [44]:
pd.concat([train.자격유형.value_counts(), test.자격유형.value_counts()], axis=1)

   자격유형   자격유형
A  1775  569.0
D   292  114.0
H   154   92.0
J   105   81.0
C    92   35.0
I    49    7.0
E    37   10.0
K    33   16.0
L    33   12.0
N    29   10.0
B    18    NaN
G     9    1.0
F     3    NaN
M     2    2.0
O     1    NaN

* B, F, O 가 train에만 존재하고 test에는 존재 X

In [45]:
train.loc[train.자격유형=="B", ['임대건물구분', '공급유형']].drop_duplicates()

   임대건물구분       공급유형
26    아파트  국민임대/장기전세

In [46]:
train.loc[train.공급유형.isin(['국민임대/장기전세']), '자격유형'].value_counts()

A    1524
H     154
E      34
B      18
G       9
Name: 자격유형, dtype: int64

In [47]:
train.loc[train.공급유형.isin(['영구임대']), '자격유형'].value_counts()

C    92
I    49
E     3
F     3
A     2
Name: 자격유형, dtype: int64

In [48]:
train.loc[train.공급유형.isin(['공공임대(5년/10년/분납/분양)']), '자격유형'].value_counts()

A    218
D      7
Name: 자격유형, dtype: int64

In [49]:
train.loc[train.공급유형.isin(['행복주택']), '자격유형'].value_counts()

J    105
K     33
L     33
N     29
M      2
O      1
Name: 자격유형, dtype: int64

In [50]:
# # 'J', 'L', 'K', 'N', 'M', 'O' 는 공급유형이 행복주택인 경우에서만 나타남 이것만 따로 묶는게 좋을듯
train.loc[train.자격유형.isin(['J', 'L', 'K', 'N', 'M', 'O']), '공급유형'].value_counts()

행복주택    203
Name: 공급유형, dtype: int64

In [51]:
test.loc[test.자격유형.isin(['J', 'L', 'K', 'N', 'M', 'O']), '공급유형'].value_counts()

행복주택    121
Name: 공급유형, dtype: int64

In [52]:
train.loc[train.자격유형.isin(['J', 'L', 'K', 'N', 'M', 'O']), '자격유형'] = '행복주택_공급대상'
test.loc[test.자격유형.isin(['J', 'L', 'K', 'N', 'M', 'O']), '자격유형'] = '행복주택_공급대상'

In [53]:
train.loc[train.자격유형.isin(['A']), '공급유형'].value_counts()

국민임대/장기전세             1524
공공임대(5년/10년/분납/분양)     218
공공임대(50년)               31
영구임대                     2
Name: 공급유형, dtype: int64

In [54]:
train.loc[train.자격유형.isin(['D']), '공급유형'].value_counts()

임대상가                  285
공공임대(5년/10년/분납/분양)      7
Name: 공급유형, dtype: int64

In [55]:
train.loc[train.자격유형.isin(['H']), '공급유형'].value_counts()

국민임대/장기전세    154
Name: 공급유형, dtype: int64

In [56]:
train.loc[train.자격유형.isin(['C']), '공급유형'].value_counts()

영구임대    92
Name: 공급유형, dtype: int64

In [57]:
train.loc[train.자격유형.isin(['I']), '공급유형'].value_counts()

영구임대    49
Name: 공급유형, dtype: int64

In [58]:
train.loc[train.자격유형.isin(['E']), '공급유형'].value_counts()

국민임대/장기전세    34
영구임대          3
Name: 공급유형, dtype: int64

In [59]:
train.loc[train.자격유형.isin(['B']), '공급유형'].value_counts()

국민임대/장기전세    18
Name: 공급유형, dtype: int64

In [60]:
train.loc[train.자격유형.isin(['G']), '공급유형'].value_counts()

국민임대/장기전세    9
Name: 공급유형, dtype: int64

In [61]:
train.loc[train.자격유형.isin(['F']), '공급유형'].value_counts()

영구임대    3
Name: 공급유형, dtype: int64

* 'H', 'B', 'E', 'G' 는 국민임대/장기전세 공급대상
* 'C', 'I', 'F', 'G' 는 영구임대 공급대상

In [62]:
train.loc[train.자격유형.isin(['H', 'B', 'E', 'G']), '자격유형'] = '국민임대/장기전세_공급대상'
test.loc[test.자격유형.isin(['H', 'B', 'E', 'G']), '자격유형'] = '국민임대/장기전세_공급대상'

train.loc[train.자격유형.isin(['C', 'I', 'F']), '자격유형'] = '영구임대_공급대상'
test.loc[test.자격유형.isin(['C', 'I', 'F']), '자격유형'] = '영구임대_공급대상'

In [63]:
pd.concat([train.자격유형.value_counts(), test.자격유형.value_counts()], axis=1)

                자격유형  자격유형
A               1775   569
D                292   114
국민임대/장기전세_공급대상   218   103
행복주택_공급대상        203   121
영구임대_공급대상        144    42

In [64]:
reshape_cat_features(data=train, cast_col='자격유형', value_col='counter')

       자격유형_A  자격유형_D  자격유형_국민임대/장기전세_공급대상  자격유형_영구임대_공급대상  자격유형_행복주택_공급대상
단지코드
C1000     1.0     0.0                  0.0             0.0             0.0
C1004     0.0     1.0                  0.0             1.0             0.0
C1005     1.0     0.0                  0.0             0.0             0.0
C1013     1.0     0.0                  0.0             0.0             0.0
C1014     1.0     0.0                  0.0             0.0             0.0
...       ...     ...                  ...             ...             ...
C2663     0.0     0.0                  1.0             0.0             0.0
C2666     1.0     0.0                  0.0             0.0             0.0
C2670     1.0     0.0                  0.0             0.0             0.0
C2680     1.0     0.0                  0.0             0.0             0.0
C2692     1.0     0.0                  0.0             0.0             0.0

[423 rows x 5 columns]

In [65]:
reshape_cat_features(data=test, cast_col='자격유형', value_col='counter')

       자격유형_A  자격유형_D  자격유형_국민임대/장기전세_공급대상  자격유형_영구임대_공급대상  자격유형_행복주택_공급대상
단지코드
C1003     0.0     0.0                  0.0             0.0             1.0
C1006     0.0     1.0                  0.0             1.0             0.0
C1016     1.0     0.0                  0.0             0.0             0.0
C1019     1.0     0.0                  0.0             0.0             0.0
C1030     0.0     0.0                  0.0             0.0             1.0
...       ...     ...                  ...             ...             ...
C2653     1.0     0.0                  0.0             0.0             0.0
C2675     1.0     0.0                  0.0             0.0             0.0
C2676     0.0     1.0                  0.0             1.0             0.0
C2688     0.0     0.0                  1.0             1.0             0.0
C2691     1.0     0.0                  0.0             0.0             0.0

[150 rows x 5 columns]

In [66]:
train_agg = pd.concat([train_agg, 
                      reshape_cat_features(data=train, cast_col="임대건물구분", value_col='counter'),
                      reshape_cat_features(data=train, cast_col='공급유형', value_col='counter'),
                      reshape_cat_features(data=train, cast_col='자격유형', value_col='counter')], axis=1)

In [67]:
test_agg = pd.concat([test_agg, 
                      reshape_cat_features(data=test, cast_col="임대건물구분", value_col='counter'),
                      reshape_cat_features(data=test, cast_col='공급유형', value_col='counter'),
                      reshape_cat_features(data=test, cast_col='자격유형', value_col='counter')], axis=1)

In [68]:
train_agg.shape, test_agg.shape

((423, 20), (150, 19))

# Encoding

In [146]:
encoding_features = ['지역', '도보 10분거리 내 지하철역 수(환승노선 수 반영)']
for f in encoding_features:
    mapping = train_agg.groupby([f])['등록차량수'].agg(['mean','median','std'])
    mapping_values = []
    for l in train_agg[f].values:
        mapping_values.extend([mapping.loc[l].values])
    bincount = pd.DataFrame(mapping_values, columns = [f+'_mean', f+'_median', f+'_std', ], index = train_agg.index)
    train_agg = pd.concat([train_agg,bincount], axis= 1).drop(columns = [f])

    mapping_values = []
    for l in test_agg[f].values:
        mapping_values.extend([mapping.loc[l].values])
    bincount = pd.DataFrame(mapping_values, columns = [f+'_mean', f+'_median', f+'_std', ], index = test_agg.index)
    test_agg = pd.concat([test_agg,bincount], axis= 1).drop(columns = [f])

# Scaling

In [147]:
scailing_features = ['총세대수',
                     '공가수',
                     '도보 10분거리 내 버스정류장 수',
                     '단지내주차면수',
                     '지역_mean', 
                     '지역_median',
                     '지역_std', 
                     '도보 10분거리 내 지하철역 수(환승노선 수 반영)_mean',
                   '도보 10분거리 내 지하철역 수(환승노선 수 반영)_median',
                   '도보 10분거리 내 지하철역 수(환승노선 수 반영)_std'
                    ]

In [149]:
scaler = RobustScaler()
loc_f = [    '지역_mean', 
             '지역_median',
             '지역_std', ]
train_agg.loc[:, loc_f] = scaler.fit_transform(train_agg[loc_f])
test_agg.loc[:, loc_f] = scaler.transform(test_agg[loc_f])

In [150]:
scailing_features = ['총세대수',
                     '공가수',
                     '도보 10분거리 내 버스정류장 수',
                     '단지내주차면수',
                     '도보 10분거리 내 지하철역 수(환승노선 수 반영)_mean',
                       '도보 10분거리 내 지하철역 수(환승노선 수 반영)_median',
                    ]

scaler = StandardScaler()
train_agg.loc[:, scailing_features] = scaler.fit_transform(train_agg[scailing_features])
test_agg.loc[:, scailing_features] = scaler.transform(test_agg[scailing_features])

# 학습 & 예측 데이터

In [151]:
train_agg.columns

Index(['총세대수', '공가수', '도보 10분거리 내 버스정류장 수', '단지내주차면수', '등록차량수', '임대건물구분_상가',
       '임대건물구분_아파트', '공급유형_공공임대(50년)', '공급유형_공공임대(5년/10년/분납/분양)',
       '공급유형_국민임대/장기전세', '공급유형_영구임대', '공급유형_임대상가', '공급유형_행복주택', '자격유형_A',
       '자격유형_D', '자격유형_국민임대/장기전세_공급대상', '자격유형_영구임대_공급대상', '자격유형_행복주택_공급대상',
       '지역_mean', '지역_median', '지역_std', '도보 10분거리 내 지하철역 수(환승노선 수 반영)_mean',
       '도보 10분거리 내 지하철역 수(환승노선 수 반영)_median',
       '도보 10분거리 내 지하철역 수(환승노선 수 반영)_std'],
      dtype='object')

In [159]:
test_agg.columns

Index(['총세대수', '공가수', '도보 10분거리 내 버스정류장 수', '단지내주차면수', '임대건물구분_상가',
       '임대건물구분_아파트', '공급유형_공공임대(50년)', '공급유형_공공임대(5년/10년/분납/분양)',
       '공급유형_국민임대/장기전세', '공급유형_영구임대', '공급유형_임대상가', '공급유형_행복주택', '자격유형_A',
       '자격유형_D', '자격유형_국민임대/장기전세_공급대상', '자격유형_영구임대_공급대상', '자격유형_행복주택_공급대상',
       '지역_mean', '지역_median', '지역_std', '도보 10분거리 내 지하철역 수(환승노선 수 반영)_mean',
       '도보 10분거리 내 지하철역 수(환승노선 수 반영)_median',
       '도보 10분거리 내 지하철역 수(환승노선 수 반영)_std'],
      dtype='object')

In [153]:
set(train_agg.columns) - set(test_agg.columns)

{'등록차량수'}

In [160]:
feature_names = ['총세대수', '공가수', '도보 10분거리 내 버스정류장 수', '단지내주차면수', '임대건물구분_상가',
       '임대건물구분_아파트', '공급유형_공공임대(50년)', '공급유형_공공임대(5년/10년/분납/분양)',
       '공급유형_국민임대/장기전세', '공급유형_영구임대', '공급유형_임대상가', '공급유형_행복주택', '자격유형_A',
       '자격유형_D', '자격유형_국민임대/장기전세_공급대상', '자격유형_영구임대_공급대상', '자격유형_행복주택_공급대상',
       '지역_mean', '지역_median', '지역_std', '도보 10분거리 내 지하철역 수(환승노선 수 반영)_mean',
       '도보 10분거리 내 지하철역 수(환승노선 수 반영)_median',
       '도보 10분거리 내 지하철역 수(환승노선 수 반영)_std']

In [161]:
label_name = '등록차량수'

In [162]:
X_train = train_agg[feature_names]
print(X_train.shape)
X_train.head(2)

(423, 23)

,총세대수,공가수,도보 10분거리 내 버스정류장 수,단지내주차면수,임대건물구분_상가,임대건물구분_아파트,공급유형_공공임대(50년),공급유형_공공임대(5년/10년/분납/분양),공급유형_국민임대/장기전세,공급유형_영구임대,...,자격유형_D,자격유형_국민임대/장기전세_공급대상,자격유형_영구임대_공급대상,자격유형_행복주택_공급대상,지역_mean,지역_median,지역_std,도보 10분거리 내 지하철역 수(환승노선 수 반영)_mean,도보 10분거리 내 지하철역 수(환승노선 수 반영)_median,도보 10분거리 내 지하철역 수(환승노선 수 반영)_std
단지코드,,,,,,,,,,,,,,,,,,,,,
C2483,0.438429,2.363808,-0.246089,2.266365,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.249033,0.249501,0.003810,0.066694,0.027254,393.050704
C2515,-0.437875,0.339347,-0.246089,0.085113,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,-0.308328,0.000000,-0.157823,0.066694,0.027254,393.050704

In [163]:
X_test = test_agg[feature_names]
print(X_test.shape)
X_test.head(2)

(150, 23)

,총세대수,공가수,도보 10분거리 내 버스정류장 수,단지내주차면수,임대건물구분_상가,임대건물구분_아파트,공급유형_공공임대(50년),공급유형_공공임대(5년/10년/분납/분양),공급유형_국민임대/장기전세,공급유형_영구임대,...,자격유형_D,자격유형_국민임대/장기전세_공급대상,자격유형_영구임대_공급대상,자격유형_행복주택_공급대상,지역_mean,지역_median,지역_std,도보 10분거리 내 지하철역 수(환승노선 수 반영)_mean,도보 10분거리 내 지하철역 수(환승노선 수 반영)_median,도보 10분거리 내 지하철역 수(환승노선 수 반영)_std
단지코드,,,,,,,,,,,,,,,,,,,,,
C1072,0.078034,0.050139,-0.602582,0.245780,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.686481,0.700599,0.552273,0.066694,0.027254,393.050704
C1128,1.559111,-0.431876,-0.246089,1.697225,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.686481,0.700599,0.552273,0.066694,0.027254,393.050704

In [164]:
y_train = train_agg[label_name]
print(y_train.shape)
y_train.head(2)

(423,)

단지코드
C2483    1015.0
C2515     205.0
Name: 등록차량수, dtype: float64

# 머신러닝

In [179]:
import xgboost as xgb
xgb_model = xgb.XGBRegressor(max_depth=17, gamma=0.5, learning_rate= 0.1)
xgb_model

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=0.5, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=0.1, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=17, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=None, ...)

In [180]:
from sklearn.model_selection import RandomizedSearchCV

param_distributions = {"max_depth" : np.random.randint(1, 100, 10)}
                       
                       
reg = RandomizedSearchCV(xgb_model, param_distributions=param_distributions,
                         n_iter=20, cv=5, 
                         verbose=2, n_jobs=-1, 
                         random_state=42
                         )

In [181]:
from sklearn.model_selection import cross_val_predict
y_valid_pred = cross_val_predict(xgb_model, X_train, y_train,
                                        cv=5, n_jobs=-1, verbose=2)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   2 out of   5 | elapsed:    0.2s remaining:    0.3s
[Parallel(n_jobs=-1)]: Done   5 out of   5 | elapsed:    0.8s remaining:    0.0s
[Parallel(n_jobs=-1)]: Done   5 out of   5 | elapsed:    0.8s finished

In [182]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_train, y_valid_pred)
mae

151.19171233661913

In [183]:
y_predict = xgb_model.fit(X_train, y_train).predict(X_test)
y_predict[:5]

array([ 689.149  , 1076.2045 ,  409.36505,  487.70847,  940.82587],
      dtype=float32)

# 제출

In [184]:
sample_submission = pd.read_csv('data/parking/sample_submission.csv')
sample_submission.head()

    code  num
0  C1072    0
1  C1128    0
2  C1456    0
3  C1840    0
4  C1332    0

In [185]:
sample_submission['num'] = y_predict

In [186]:
file_name = f"data/parking/submit_{mae:.5f}.csv"

In [187]:
sample_submission.to_csv(file_name, index=False)

In [188]:
pd.read_csv(file_name).head(2)

    code        num
0  C1072   689.1490
1  C1128  1076.2045